<!doctype html>
<html>
    
  <head>
    <title>AthenaHero</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/basicChart.js') }}"></script>
  </head>
    
  <body>
    <div class="container" id="title", style="padding-top: 20px;">
        <a href="{{ url_for('home_bp.home') }}" class="h1" style="color: #212529;">AthenaHero</a>
        <hr/>
    </div>
    <div class="container" id="body_grid">
        <div class="row">
            <div class="col-3" id="left-menu">
                <p><a href="{{ url_for('home_bp.home') }}" class="h3" style="padding-left: 10px;color: #212529;">Overview</a></p>
                <p><a href="{{ url_for('home_bp.naive_queries') }}" class="h5" style="padding-left: 10px;color: #212529;">Naive Queries</a></p>
            </div>
            <div class="col-9" style="background-color: #eeeeee;padding-top: 10px;">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
  </body>
    
</html>
